<div class="hero-unit">
	<h1>This is Awesomester</h1>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non pharetra felis. Morbi consectetur magna nec sapien elementum porta. Fusce eu sapien eu dolor sagittis ultrices. Proin dapibus tempus mollis.
	</p>

	<p>
		<%= link_to "Join Awesomester", "#", class: "btn btn-primary btn-large" %>
	</p>
</div>